.task-actions {
  display: flex;
  justify-content: flex-end;
}

button {
  align-items: center;
  background-color: transparent;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  font-size: 0.9em;
  gap: 5px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #f4f4f4;
}

button:disabled {
  border-color: #cccccc;
  color: #888888;
  cursor: not-allowed;
  opacity: 0.7;
}

.task-menu {
  position: relative;
}

.dropdown {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  min-width: 200px;
  padding: 8px 0;
  position: absolute;
  right: 0;
  top: 45px;
  z-index: 10;
}

.dropdown li {
  padding: 0 16px;
}

.hamburger-btn {
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 25px;
  height: 60px;
  justify-content: center;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  width: 60px;
}

.hamburger-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.action-button {
  border-radius: 6px;
  border: none;
  font-size: 1em;
  padding: 10px 5px;
}
