<div class="task-actions">
  <div class="dropdown">
    <div class="hamburger-btn" (click)="isMenuOpen = !isMenuOpen" aria-label="Abrir menu de ações">
      <p>☰</p>
    </div>

    <ul class="dropdown-menu" *ngIf="isMenuOpen">
      <li>
        <button
          (click)="onDeleteCompletedTasks()"
          [disabled]="isLoading || !hasCompletedTasks"
          class="action-button">
          Excluir tarefas concluídas
        </button>
      </li>

      <li>
        <button (click)="onDeleteAllTasks()" [disabled]="isLoading || !hasTasks" class="action-button">
          Excluir todas as tarefas
        </button>
      </li>
    </ul>
  </div>
</div>
