<div class="task-list-container">
  <header class="task-header">
    <h2>Minhas Tarefas</h2>
    <button (click)="logout()" class="danger-button">Logout</button>
  </header>

  <!-- Seção de adição de nova tarefa -->
  <div class="add-task-section">
    <h3>Adicionar Nova Tarefa</h3>
    <form [formGroup]="addTaskForm" (ngSubmit)="addTask()" novalidate>
      <div class="form-group">
        <textarea
          type="text"
          id="title"
          formControlName="title"
          placeholder="O que precisa ser feito?"
          [ngClass]="{ 'is-invalid': addTaskForm.get('title')?.invalid && (addTaskForm.get('title')?.dirty || addTaskForm.get('title')?.touched) }"
          #titleInput
          (input)="resizeTextarea(titleInput)"
          (click)="resizeTextarea(titleInput)"
          required>
        </textarea>
        <div
          *ngIf="addTaskForm.get('title')?.invalid && (addTaskForm.get('title')?.dirty || addTaskForm.get('title')?.touched)"
          class="error-message"
        >
          <small *ngIf="addTaskForm.get('title')?.errors?.['required']">Campo obrigatório.</small>
        </div>
      </div>
      <button type="submit" [disabled]="addTaskForm.invalid || isLoading">Adicionar Tarefa</button>
    </form>
  </div>

  <div class="task-items-section">
    <h3>Lista de Tarefas</h3>

    <div *ngIf="isLoading && tasks.length === 0" class="loading-message">Carregando tarefas...</div>
    <div *ngIf="errorMessage" class="error-message api-error">{{ errorMessage }}</div>

    <ul *ngIf="!isLoading || tasks.length > 0" class="task-list">
      <li *ngIf="!isLoading && tasks.length === 0" class="no-tasks-message">
        Nenhuma tarefa encontrada. Adicione uma nova tarefa acima!
      </li>
      <!-- Tarefas -->
      <li
        *ngFor="let task of tasks; trackBy: trackByTaskId"
        class="task-item"
        [class.completed]="task.status === 'completed'"
        [class.in-progress]="task.status === 'in-progress'"
      >
        <div class="task-content">
          <button
            class="status-circle"
            [ngClass]="task.status"
            (click)="cycleTaskStatus(task); $event.stopPropagation();"
            type="button">
          </button>
          <label class="task-title">{{ task.title }}</label>
        </div>

        <div class="task-actions">
          <button (click)="openEditDialog(task)" class="edit-button" title="Editar Tarefa">
            <!-- Ìcone de edição -->
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none">
              <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25z" fill="currentColor" />
              <path
                d="M20.71 7.04a1.003 1.003 0 0 0 0-1.42l-2.34-2.34a1.003 1.003 0 0 0-1.42 0l-1.83 1.83 3.75 3.75 1.84-1.82z"
                fill="currentColor" />
            </svg>
          </button>

          <button (click)="openDeleteDialog(task._id)" class="delete-button" title="Excluir Tarefa">
            &times;
          </button>
        </div>
      </li>
    </ul>
  </div>

  <!-- Diálogo de edição de tarefa -->
  <app-dialog [open]="isEditDialogOpen" (closed)="closeEditDialog()">
    <h3>Editar Tarefa</h3>
    <form (ngSubmit)="saveEdit()">
      <textarea name="editTaskTitle" [(ngModel)]="editTaskTitle" placeholder="Novo título da tarefa" rows="3"
        #editTitleInput class="editTitleText" (input)="resizeTextarea(editTitleInput)"
        (click)="resizeTextarea(editTitleInput)" required></textarea>
      <div class="form-button-area">
        <button type="button" (click)="closeEditDialog()" class="danger-button">Cancelar</button>
        <button type="submit" class="confirm-button"
          [disabled]="!editTaskTitle.trim() || editTaskTitle.trim() === selectedTask?.title || isLoading">
          Salvar
        </button>
      </div>
    </form>
  </app-dialog>

  <!-- Diálogo de confirmação de exclusão -->
  <app-dialog [open]="isDeleteDialogOpen" (closed)="closeDeleteDialog()">
    <h3>Confirmar Exclusão</h3>
    <p>Tem certeza que deseja excluir a seguinte tarefa?</p>
    <p class="task-title">
      {{ deleteDialogTaskTitle }}
    </p>
    <div class="form-button-area">
      <button type="button" (click)="closeDeleteDialog()" class="default-button">Cancelar</button>
      <button type="button" (click)="confirmDelete()" class="danger-button">Excluir</button>
    </div>
  </app-dialog>

</div>