.status-circle {
  background-color: #e0e0e0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  position: relative;
  transition: background-color 0.2s;
  width: 20px;
}

.status-circle:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.status-circle.pending { /* Só é aplicado quando as duas classes forem usadas */
  background: #ffe5e5; /* vermelho suave */
  border-color: #ffc1c1;
}

.status-circle.in-progress {
  background: #fff7cc; /* amarelo pastel */
  border-color: #ffe9a7;
}

.status-circle.completed {
  background: #c8f7c5; /* verde suave */
  border-color: #8be28b;
}
