.add-task-section {
  margin-bottom: 10px;
  padding: 0px 20px;
  border-radius: 6px;
}

h3 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #222;
}

.form-group {
  margin-bottom: 15px;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.form-button-area {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 18px;
}

.form-button-area button {
  margin-left: 20px;
}

input {
  border-radius: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1em;
  outline: none; /* Remover contorno padrão */
  overflow-y: hidden;
  padding: 10px 45px 10px 10px; /* Para dar espaço ao botão */
  transition: height 0.2s ease;
  width: 98.8%;
}

input.is-invalid, textarea.is-invalid {
  border-color: #dc3545;
}

input.is-invalid:focus, textarea.is-invalid:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.error-message {
  color: #dc3545;
  font-size: 0.875em;
  margin-top: 5px;
}

button[type="submit"] {
  align-items: center;
  aspect-ratio: 1;
  background-color: #59ca5d; /* Verde claro */
  border-radius: 50%;
  border: none;
  bottom: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 40px;
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.2s ease;
  width: 40px;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button:not(:disabled):hover {
  background-color: #62b160;
}

.char-counter {
  font-size: 0.85em;
  color: #222;
  margin-left: auto; /* Alinha o contador à direita sempre */
  margin-top: 2px;
  text-align: right;
}

.char-limit-exceeded {
  color: #dc3545;
  font-weight: bold;
}

.form-info {
  display: flex;
  align-items: center;
}
