<div class="add-task-section">
  <h3>Adicionar Nova Tarefa</h3>

  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label>
        <input
          [ngClass]="{ 'is-invalid': taskForm.get('title')?.invalid && (taskForm.get('title')?.dirty || taskForm.get('title')?.touched) }"
          #titleInput
          type="text"
          formControlName="title"
          id="title"
          placeholder="O que precisa ser feito?"
          required
          type="text"
        />
      </label>

      <button
        type="submit"
        [disabled]="taskForm.invalid || isLoading || titleInput.value.length > TASK_TITLE_MAX_LENGTH"
        title="Adicionar Tarefa">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="#444">
          <rect x="10" y="4" width="4" height="16" rx="2" ry="2" />
          <rect x="4" y="10" width="16" height="4" rx="2" ry="2" />
        </svg>

      </button>
    </div>

    <div class="form-info">
      <div
        *ngIf="taskForm.get('title')?.invalid && (taskForm.get('title')?.dirty || taskForm.get('title')?.touched)"
        class="error-message">
        <small *ngIf="taskForm.get('title')?.errors?.['required']">Campo obrigatório.</small>
      </div>

      <div
        class="char-counter"
        [ngClass]="{'char-limit-exceeded': titleInput.value.length > TASK_TITLE_MAX_LENGTH}">
        {{ titleInput.value.length }}/{{ TASK_TITLE_MAX_LENGTH }}
      </div>
    </div>
  </form>
</div>
