.task-header {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
}

.danger-button {
  padding: 7px 15px;
  color: white;
  background-color: #dc3545;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.danger-button:hover {
  background-color: #c82333;
}
